<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang = "en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <meta charset="UTF-8">
    <title>MainPage</title>
</head>
<body>
    <button onclick=logout()>로그아웃</button>
    <button><a href="http://localhost:8080/swagger-ui/index.html" target="_blank">Swagger 페이지</a></button>
</body>
<script>
    function logout() {
        alert("로그 아웃!");
        // 토큰 삭제 
        Cookies.remove('Authorization', { path: '/' });
        window.location.href = "/api/user/login-page";
    }
</script>
</html>